<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>UniTeV - Home</title>

    
</head>
<body class="font-sans min-h-screen flex flex-col">
    <header >
        <h1 id="h1-home" class="text-center pt-4 font-bold bg-sky-950 text-sky-100 text-sm md:text-base">
            UniTeV - Excelência Tecnológica em São José dos Campos
        </h1>
        <nav class="flex flex-col md:flex-row items-center justify-between px-8 md:px-28 bg-sky-950 text-sky-100 py-10 md:py-6 gap-y-8">       
            <div>
            <img  class="h-16 md:h-20 w-auto " src="/static/images/2logo_sem_fundo_20260318_080823_0000.svg" alt="Logo UniTeV" width="150">
            </div>
            <div id="barra-nav" class="flex gap-x-18 md:gap-x-14 text-sm md:text-base text-sky-50 font-bold">
            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contato">Contato</a>
            </div>
        </nav>
    </header>

    <main class="flex-1">
        
        <figure class="">
        <img  src="/static/images/oficialinstitucional.png" alt="Banner Vestibular UniTeV" class="hidden sm:block">
        <img src="/static/images/mat_abertas_mobile.png" alt="" class="block sm:hidden">
        </figure>
        <section class="px-20 py-15 ">
            <h2 class="font-bold">Sobre a Universidade</h2>
            <p class="py-10">A UniTeV (Universidade Tecnológica do Vale), fundada em 1995 no polo tecnológico de São José dos Campos, é uma instituição de ensino superior focada no desenvolvimento técnico e científico de alto nível. Sua localização estratégica facilita a integração direta com o setor aeroespacial e de defesa, permitindo que os cursos de engenharia e tecnologia utilizem currículos alinhados às exigências reais da indústria e às constantes inovações globais.</p>
            <p>O modelo pedagógico da instituição prioriza a excelência técnica através de uma infraestrutura laboratorial avançada e parcerias com empresas do ecossistema do Vale do Paraíba. A universidade mantém um padrão rigoroso de exigência acadêmica, visando capacitar profissionais aptos a gerenciar projetos complexos, realizar pesquisas de ponta e ocupar posições de liderança em mercados tecnológicos altamente competitivos.</p>
        </section>
    </main>

    <footer class="px-20 text-center font-bold bg-sky-950 text-sky-50 py-8">
        <p>Todos os direitos reservados.</p>
    </footer>

</body>