<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Quem Somos - UniTeV</title>
</head>
<body class="min-h-screen flex flex-col">
    <header >
        <h1 id="h1-home" class="text-center pt-4 font-bold bg-sky-950 text-sky-100 text-sm md:text-base">
            UniTeV - Excelência Tecnológica em São José dos Campos
        </h1>
        <nav class="flex flex-col md:flex-row items-center justify-between px-8 md:px-28 bg-sky-950 text-sky-100 py-10 md:py-6 gap-y-8">       
            <div>
            <img  class="h-16 md:h-20 w-auto " src="/static/images/2logo_sem_fundo_20260318_080823_0000.svg" alt="Logo UniTeV" width="150">
            </div>
            <div id="barra-nav" class="flex gap-x-18 md:gap-x-14 text-sm md:text-base text-sky-50 font-bold">
            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contato">Contato</a>
            </div>
        </nav>
    </header>
    <main class="flex-1">
<!--space-y-6-->
    <section class="px-20">
        <h1 class="font-bold pt-10">Quem Somos</h1>
        <p class="py-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos at aut asperiores incidunt molestias ipsam enim quia itaque numquam recusandae, aspernatur laborum vel magnam architecto aperiam? Ex inventore iusto eos.</p>
        <h2 class="font-bold">5 motivos para estudar conosco</h2>
        <ol class="py-10">
            <li>Professores renomados</li>
            <li>Laboratórios de ponta</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <h2 class="font-bold">Objetivos</h2>
        <p class="py-10">Entre em contato conosco e deixe sua sugestão!</p>
    </section>
    </main>
</body>
    <footer class="px-20 text-center font-bold bg-sky-950 text-sky-50 py-8">
        <p>Todos os direitos reservados.</p>
    </footer>
</html>